html,
body {
	margin: 0;
	overflow-x: hidden;
	box-sizing: border-box;
}

/*---------------global classes---------*/
a {
	text-decoration: none;
	color: var(--text-gray);
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: var(--Lexend);
	font-size: 2.5rem;
}

h2 {
	font-family: var(--Lexend);
}

h3 {
	font-size: 1.3rem;
	font-family: var(--Abel);
}

button.btn {
	border: none;
	border-radius: 2rem;
	padding: 1rem 3rem;
	outline: none;
	font-size: 16px;
	font-family: var(--Livvic);
	cursor: pointer;
}

span {
	font-family: var(--Abel);
}

.container {
	margin: 0 5vw;
}

.text-gray {
	color: var(--text-gray);
}

p {
	font-family: var(--Lexend);
	color: var(--text-light);
}

:root {
	--text-gray: #3f4954;
	--text-light: #686666da;
	--bg-color: #0f0f0f;
	--white: #fff;
	--midnight: #104f55;

	--sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

	--Abel: "Abel", cursive;
	--Anton: "Anton", cursive;
	--Josefin: "Josefin", cursive;
	--Lexend: "Lexend", cursive;
	--Livvic: "Livvic", cursive;
}

/*-------------------navbar----------------*/

.nav {
	background-color: #fff;
	padding: 0 2rem;
	height: 0rem;
	min-height: 10vh;
	overflow: hidden;
	transition: height 1s ease-in-out;
}

.nav .nav-menu {
	justify-content: space-between;
}

.nav .toggle-collapse {
	position: absolute;
	top: 0;
	width: 90%;
	cursor: pointer;
	display: none;
}

.collapse {
	height: 35rem;
}

.nav .toggle-collapse .toggle-icon {
	display: flex;
	justify-content: flex-end;
	padding: 1.7rem 0;
}

.toggle-icon i {
	font-size: 1.4rem;
	color: var(--text-gray);
}

.nav .nav-items .nav-link {
	padding: 1.6rem 1rem;
	position: relative;
	font-family: var(--Abel);
	font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
	background-color: var(--midnight);
}

.nav .nav-items .nav-link a:hover {
	color: var(--white);
}

.nav .nav-brand a {
	padding: 1rem 0;
	display: block;
	font-family: var(--Lexend);
	font-size: 1.6rem;
}

.nav-items {
	display: flex;
	margin: 0;
}

.nav .social {
	padding: 1.4rem 0;
}

.nav .social i {
	padding: 0 0.2rem;
}

.nav .social i:hover {
	color: #a1c4cf;
}

/*---------------Main Section--------------------------------*/

.site-title {
	background-image: url("../assets/Background-image.png");
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
}

.site-background {
	text-align: center;
	color: var(--white);
	padding: 10rem;
}

.site-title h1,
h3 {
	margin: 0.3rem;
}

.site-title .btn {
	background-color: #a1c4fd;
	border: none;
	padding: 16px 48px;
	font-size: 16px;
	margin: 1.8rem;
}

.site-title .btn:hover {
	background-color: transparent;
	color: white;
	border: 1px solid #ccc;
}

/*--------------------blog carousel--------------------*/
main .blog {
	background-image: url("../assets/Abract01.png");
	background-repeat: no-repeat;
	background-position: right;
	height: 100vh;
	width: 100%;
	background-size: 65%;
}

.blog-post {
	padding-top: 6rem;
}

.blog-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 80%;
	margin: 48px 32px;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.blog-title {
	padding: 32px 0;
}

.btn-blog {
	padding: 0.7rem 2rem;
	background: var(--sky);
	margin: 8px;
}

.blog-title span {
	display: block;
}

.owl-nav {
	position: absolute;
	top: 0;
	width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
	color: var(--text-gray);
	background-color: transparent;
	font-size: 32px;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
	background-color: transparent;
	color: var(--midnight);
}

.owl-theme .owl-nav [class*="owl-"] {
	outline: none;
}

/*---------------Side Content-----------------------------------------*/

.site-content {
	display: grid;
	grid-template-columns: 70% 30%;
}

.post-content {
	width: 100%;
}

.post-image,
.post-title {
	padding: 16px 32px;
	position: relative;
}

.post-image div {
	overflow: hidden;
}

.post-info {
	background: var(--sky);
	padding: 1rem;
	position: absolute;
	bottom: 0;
	left: 20vw;
	border-radius: 32px;
}

.post-info span {
	margin: 8px;
}

.post-image img {
	width: 100%;
	transition: all 1s ease;
}

.post-image img:hover {
	transform: scale(1.3);
}

.post-title a {
	font-family: var(--Anton);
	font-size: 24px;
}

.post-btn {
	border-radius: 0 !important;
	padding: 0.7rem 1.5rem !important;
	background: var(--sky);
}

.pagination {
	color: var(--text-gray);
	justify-content: center;
	margin: 4rem 0;
}

.pagination a {
	padding: 0.6rem 0.9rem;
	border-radius: 32px;
	margin: 0.3rem;
	font-family: var(--Lexend);
}

.pagination-circle {
	background-color: var(--text-gray);
	color: var(--white);
}

/*---------------------Sidebar------------------*/

.category-list {
	font-family: var(--Livvic);
}

.list-items {
	background: var(--sky);
	margin: 15px;
	padding: 0.4rem 1rem;
	border-radius: 32px;
	width: 70%;
	display: flex;
	justify-content: space-between;
}

.list-items a {
	color: #000;
}

.popular-post .post-content {
	padding: 16px 0;
}

.popular-post h2 {
	padding-top: 8rem;
}

.popular-post .post-info {
	padding: .4rem 1rem;
	bottom: 0rem;
	left: 1.5rem;
	border-radius: 0;
	background: var(--white);
}

.popular-post .post-title a {
	font-size: 16px;
}

.newsletter {
	padding-top: 48px;
}

.form-element {
	padding: .5rem 2rem;
}

.form-element input {
	width: 80%;
	padding: 10px;
	height: 25px;
	outline: none;
	font-family: var(--Lexend);
	font-size: 1rem;
}

.form-element .form-btn {
	border-radius: 0;
	padding: 0.8rem 32%;
	margin: 1rem 0;
	background: var(--sky);
}

.popular-tags {
	padding: 5rem 0;
}

.tags .tag {
	background: var(--sky);
	padding: 0.4rem 1rem;
	border-radius: 3rem;
	margin: 0.4rem 0.6rem;
}

/*------------------Footer-----------------------------*/

.footer {
	height: 100%;
	background-color: var(--bg-color);
	position: relative;
	color: var(--white);
}

.footer .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer .container > div {
	flex-grow: 1;
	flex-basis: 0;
	padding: 3rem 0.9rem;
}

footer .newsletter .form-element {
	background: #000;
	display: inline-block;
	padding: 0;
}
footer .newsletter input {
	padding: .5rem .7rem;
	border: none;
	color: var(--white);
	background: transparent;
	font-family: var(--Josefin);
	font-size: 1rem;
	width: 74%;
}

.form-element span {
	background: var(--sky);
	padding: .5rem.7rem;
}

.instagram img {
	display: inline-block;
	width: 25%;
	height: 50%;
	margin: 5px 10px;
}

.follow-us div i {
	padding: 0.4rem;
}

.rights {
	justify-content: center;
	font-family: var(--Josefin);
}

.move-up {
	position: absolute;
	top: 50%;
	right: 6%;
	color: var(--midnight);
}

.move-up:hover {
	color: var(--white);
	cursor: pointer;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: var(--midnight);
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

/*------------Media Queries------------------------*/

@media only screen and (max-width: 1130px) {
	.post-info {
		left: 2rem;
		border-radius: 0%;
		bottom: 0.8rem;
	}

	.popular-post .post-info {
		display: none;
	}

	.footer .container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 750px) {
	.nav .nav-menu,
	.nav .nav-items {
		flex-direction: column;
	}

	.nav .toggle-collapse {
		display: block;
	}

	main .site-content {
		grid-template-columns: 1fr;
	}

	.footer .container {
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 520px) {
	main .blog {
		height: 125vh;
	}
	.post-info {
		display: none;
	}

	.footer .container > div {
		padding: 1rem 0.9rem;
	}
	.nav .toggle-collapse {
		width: 80%;
	}
}

@media only screen and (orientation: landscape) {
	.nav {
		height: 4rem;
	}

	.site-title {
		height: fit-content;
	}

	main .blog {
		background-image: none;
		height: 100%;
	}
}
